*{
  box-sizing: content-box;
}

.App {
  text-align: center;
}
img{
  width: 100%;
}

.polaroid{
  width: 50%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 auto;
  
}

div.container {
  padding-bottom: 6px;
}

.container p{
  font-size: 40px;;
}

.story-title{
  padding-top: 70px;
}

.story-text{
  align-items: center;
}

.story-text p{
  font-family: Verdana;
  font-size: 22px;
  width: 80%;
  padding-left: 180px;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
